<?xml version="1.0"?>
<launch>
  <arg name="side" default="r"/> <!-- "b" = blue side, "r" = red side  -->

    <!-- You can change control program  -->


   

  <include file="$(find burger_navigation)/launch/burger_navigation.launch">
  </include>

    <!--  <node pkg="burger_war" type="tofu.py" name="tofu_node" output="screen"/> -->
    <node pkg="burger_war" type="okara.py" name="tofu_node" output="screen"/>



    <!-- End of your space  -->
</launch>

